---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

@import "colors";


#panel {
 width: calc(100vw - 5px);
 height: 100vh;
 background-color: rgba($brand-color,0.6);
 background-image: linear-gradient(to bottom right, rgba(1,0,2,0.6) 30%, black);
 top: 0;
 right: 0;
 position: fixed;
 z-index: -3;
 //border: 5px magenta dashed;
}
