<!-- and guess where these are defined? Yup, you guessed it: the _data/resume.yml file -->
{% if site.data.resume.social_links %}
<ul class="icon-links">

  <!-- Phone link -->
  {% if site.data.resume.contact_phone %}
  <li class="icon-link-item"><a href="callto:{{ site.data.resume.contact_phone | remove: ' ' }}" title="{{ site.data.resume.contact_phone }}" class="icon-link" itemprop="sameAs">{% include icons/icon-phone.svg %}</a></li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.data.resume.social_links.linkedin_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.social_links.linkedin_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-linkedin.html %}</a></li>
  {% endif %}

  <!-- GitHub link -->
  {% if site.data.resume.social_links.github_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.social_links.github_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-github.html %}</a></li>
  {% endif %}

  <!-- Twitter link -->
  {% if site.data.resume.social_links.twitter_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.social_links.twitter_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-twitter.html %}</a></li>
  {% endif %}
  
  <!-- Medium link -->
  {% if site.data.resume.social_links.medium_url %}
  <li class="icon-link-item">
    <a href="{{ site.data.resume.social_links.medium_url }}" class="icon-link" itemprop="url">{% include icons/icon-medium.html %}</a>
  </li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.data.resume.social_links.dribbble_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.social_links.dribbble_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-dribbble.html %}</a></li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.data.resume.social_links.facebook_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.social_links.facebook_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-facebook.html %}</a></li>
  {% endif %}

  <!-- Instagram link -->
  {% if site.data.resume.social_links.instagram_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.social_links.instagram_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-instagram.html %}</a></li>
  {% endif %}

  <!-- Website link -->
  {% if site.data.resume.social_links.website_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.social_links.website_url }}" class="icon-link" itemprop="url">{% include icons/icon-website.html %}</a></li>
  {% endif %}

  {% if site.data.resume.pdf_url %}
  <li class="icon-link-item"><a href="{{ site.data.resume.pdf_url }}" class="icon-link" itemprop="url">{% include icons/icon-pdf.html %}</a></li>
  {% endif %}

  {% if site.data.resume.print_icon %}
  <li class="icon-link-item"><a href="#" onclick="window.print();" class="icon-link" itemprop="print">{% include icons/icon-print.html %}</a></li>
  {% endif %}

  {% if page.lang == 'fr' %}
  <li class="icon-link-item"><a href="index-en.html" class="icon-link" itemprop="en">{% include icons/icon-us-flag.svg %}</a></li>
  <li class="icon-link-item"><a href="index.html" class="icon-link" itemprop="ch">{% include icons/icon-ch-flag.svg %}</a></li>
  {% else %}
  {% if page.lang == 'en' %}
  <li class="icon-link-item"><a href="index-fr.html" class="icon-link" itemprop="fr">{% include icons/icon-fr-flag.svg %}</a></li>
  <li class="icon-link-item"><a href="index.html" class="icon-link" itemprop="ch">{% include icons/icon-ch-flag.svg %}</a></li>
  {% else %}
  <li class="icon-link-item"><a href="index-en.html" class="icon-link" itemprop="en">{% include icons/icon-us-flag.svg %}</a></li>
  <li class="icon-link-item"><a href="index-fr.html" class="icon-link" itemprop="fr">{% include icons/icon-fr-flag.svg %}</a></li>
  {% endif %}
  {% endif %}

</ul>
{% endif %}
