<!-- and guess where these are defined? Yup, you guessed it: the _date/resume.yml file -->
{% if site.data.resume.print_social_links %}
<ul>

  <!-- GitHub link -->
  {% if site.data.resume.social_links.github_url %}
  <li><strong>Github</strong>: {{ site.data.resume.social_links.github_url }}</li>
  {% endif %}

  <!-- Twitter link -->
  {% if site.data.resume.social_links.twitter_url %}
  <li><strong>Twitter</strong>: {{ site.data.resume.social_links.twitter_url }}</li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.data.resume.social_links.dribbble_url %}
  <li><strong>Dribbble</strong>: {{ site.data.resume.social_links.dribbble_url }}</li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.data.resume.social_links.facebook_url %}
  <li><strong>Facebook</strong>: {{ site.data.resume.social_links.facebook_url }}</li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.data.resume.social_links.linkedin_url %}
  <li><strong>LinkedIn</strong>: {{ site.data.resume.social_links.linkedin_url }}</li>
  {% endif %}

  <!-- Instagram link -->
  {% if site.data.resume.social_links.instagram_url %}
  <li><strong>Instagram</strong>: {{ site.data.resume.social_links.instagram_url }}</li>
  {% endif %}

  <!-- Website link -->
  {% if site.data.resume.social_links.website_url %}
  <li><strong>Website</strong>: {{ site.data.resume.social_links.website_url }}</li>
  {% endif %}

</ul>
{% endif %}
