// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$orange: #fea621;
$purple: #a621fe;
$cyan-grey: #354545;

$hospital-blue: #98EDFE;
$medical-blue: #02b2c8;

$brand-color: #354450; // blueish-grey
$brand-color: #354545; // cyanish-grey
$brand-color: #02b2c8; // medical-blue
$brand-color: #02b2c8; // medical-blue
$brand-color: $cyan-grey;
$brand-color: $purple;

$brand-background: darken($brand-color,38%);

$brand-color-light: lighten($brand-color,70%);
$brand-color-dark: darken($brand-color,30%);

$brand-background-light: lighten($brand-color,50%);
$brand-background-dark: darken($brand-background,30%);

$white:             #eeeffe;
$black:             #08080B;

$offwhite:          lighten($brand-color,56%);
$offblack:          $brand-background-dark;
$grey:              #303034;

$avatar-back: $offwhite;

$a-hover: #9c9c9c;
$but-bg: #efefef;
$but-fg: #333;


// Styles
$text_color:        $black;
$bground: $grey;

// Font stack
$body-font: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;

// The base body size
$body-font-size: 16px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
